@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --yellow: hsl(47, 88%, 63%); 
    --background-container:  hsl(0, 0%, 100%); 
    --text-grey-color:  hsl(0, 0%, 50%);
    --shadow: 10px 10px 0 hsl(0, 0%, 7%);
    --border: 1px solid black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Figtree", sans-serif;
    background-color: var(--yellow);
}

.container{
    width: 330px;
    height: 495px;
    background-color: var(--background-container);
    padding: 0 20px;
    border: var(--border);
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.image {
    width: 285px;
    height: 200px; 
    background: url('images/illustration-article.svg') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    
}

article{
    text-align: justify;
}

article > .tag{
    width: 80px;
    height: 25px;
    padding: 14px;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    background-color: var(--yellow);
    border-radius: 5px;
    margin: 15px 0;
}

article > .date{
    font-weight: 600;
    font-size: 12px;
}

article > h1{
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    padding: 15px 0;
}

article > h1:hover{
    color: var(--yellow);
    cursor: pointer;
}

.description{
    font-size: 14px;
    line-height: 1.5em;
    text-align: left;
    color: var(--text-grey-color);
}

.author{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
}

.author > img{
    width: 35px;
}

.author > span{
    padding-left: 10px;
    font-weight: 800;
    font-size: 14px;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .container{
      width: 390px;
      height: 550px;
    }

    .image {
        width: 340px;
        height: 200px; 
        background: url('images/illustration-article.svg') no-repeat center center;
        background-size: cover;
        border-radius: 10px;
    }

    article > .tag{
        width: 90px;
        height: 35px;
        font-size: 15px;
    }

    article > .date{
        margin-bottom: 5px;
        font-size: 14px;
    }

    article > h1{
        font-size: 25px;
    }

    article > .description{
        font-size: 16px;
    }

    .author{
        margin-top: 25px;
    }

    .author > img {
        width: 40px;
    }

    .author > span{
        font-size: 16px;
    }
}